<div style="background-color: #F1F9FE;border: 5px solid #A2D2E8;padding: 10px;margin-bottom: 10px; font-size: 14px;">
<a href="http://www.samecup.com" target="_blank"><img src="http://samecup.com/images/samecup_logo_gray.png" align="right" border="0"></a>
<p>Hi,</p>

<%= @email %> sent a feedback<br/>
User-agent: <%= @agent%><br/>
Comment: <br/>
<%= raw @comment%>

</div>
