<% cssclass ||= 'recept'%>
<div class="<%= cssclass %>">
  
  <div class="hh"><img src="/images/coffeecup-espresso-small.png"/>Espresso</div>
  __________________<br/><br/>
  Sprints&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;unlimited<br/>
  Members&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;unlimited<br/>
  Reports&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;all<br/>
  __________________
  <br/><br/>
  Total: <span style="color:black;">$19/mo</span>        
</div>
