<% cssclass ||= 'recept'%>
<div class="<%= cssclass %>">
  
  <div class="hh"><img src="/images/coffeecup-latte-small.png"/>Latte</div>
  __________________<br/><br/>
  Sprints&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x1<br/>
  Members&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x2<br/>
  Reports&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N/A<br/>
  __________________
  <br/><br/>
  Total: <span style="color:black">$0/mo</span>
</div>