<% title('Prices') %>
<% menu('prices') %>
<div style="margin-left: auto; margin-right: auto; padding-top: 20px; width: 600px;">
  <div style="width: 600px;">
    <div class="h2">What it takes?</div>
  <br/>
  <span style="font-size: 14px;line-height: 19px;">
    You can add any project you want, all depends what type of coffee you will use for it<br/><br/>
      <%= render :partial => 'shared/latte_recept' %>
      <div style="display:table-cell; width:20px"></div>
      <%= render :partial => 'shared/espresso_recept' %>
  </span>
 </div>
</div>