<% title('Privacy Policy') %>
<div class="static" >
  <h1 style="MARGIN:12pt 0pt 6pt">
    <span style="FONT-FAMILY:'Times New Roman'"><b><font size=5>Address</font></b></span><span style="FONT-FAMILY:'Times New Roman'"><b><font size=5> :Iran, Tehran</font></b></span>
  </h1>
 
