<% title('Tour') %>
<% menu('tour') %>
<div style="margin-left: auto; margin-right: auto; padding-top: 20px; width: 800px;">
  <div style="width: 600px;">
    <div class="h2">Ordinary scrum board</div>
  <br/>
  <div style="display:block; border: 0px solid silver;">
    <span style="float:left; margin-right: 10px; margin-left: 10px;"><a href="/images/tour-dashboard.png" title="this is how scrum board should look like" class="thickbox">
      <img src="/images/tour-dashboard-crop.png" border=0 alt="scrum board look"></a></span>
    <span>Scrum board as you used to see daily <br/>
      We want to create feeling that you use ordinary scrum board, same feeling of manipulation with stickers, same easy way of keeping the progress.<br/>
      
      </span>
    <br clear="both"/>
    
  </div>
  <br/>
  <div style="width: 600px;">
    <div class="h2">Sprint your board</div>
  <br/>
  <div style="display:block; border: 0px solid silver;">
    <span style="float:left; margin-right: 10px; margin-left: 10px;"><a href="/images/tour-sprints.png" title="manage sprints instantly" class="thickbox">
      <img src="/images/tour-sprints-crop.png" border=0 alt="sprints board look"></a></span>
    <span>Sprints are part of scrum project life <br/>
      so each sprint is different board, you can check previous boards, move undone stickers to new board. Keep history of project evolution.
      it's better than keep all these boards in real world, or keep tons of stickers in your desk. We think it's better.
      </span>
    <br clear="both"/>
    
  </div>
 </div>
</div>